.about-container {
    width: 500px;
    height: 500px;
    border: solid 1px black;
    background-color: rgba(0, 0, 0,0.5);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-intersection {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 7%;
}

.about-title {
  font-size: 2rem;
  text-align: center;
}

/* #about-section {
    position: absolute;
    top: 0%;
    left: 50%;
} */