.copyright-text {
    margin-bottom: 2%;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    margin: 5% 0px;
}

.footer-icon {
    font-size: 1.5rem;
}

.footer-icon:hover{
    color: var(--text-primary);
}