.circle-img {
  width: 50%;
  height: auto;
  float: left;
  margin-right: 2rem;
  border-radius: 50%;
  shape-outside: circle();
}

.rounded-text {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.title-container {
    width: 500px;
    height: 500px;
    border: solid 1px black;
    background-color: rgba(0, 0, 0,0.5);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* #title-section {
  position: absolute;
  top: 0;
  left: -30%;
} */

.title-intersection {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 7%;
}